@page

@using asp_net_sql.Pages.CodeBehind

@model APIPostTest_CB

@{
    ViewData["Title"] = "API Post Test";

    string[] keys = [
        "Sent json",
        "Sent packet",
        "Response status code",
        "Response Reason phrase",
        "Response body",
        "Response packet"];

    foreach(var k in keys)
    {
        <h5>@k</h5>
        <h6><pre>@ViewData[@k]</pre></h6>
    }

}
