@page

@using asp_net_sql.Pages.CodeBehind

@model APIPostTest_CB

@{
    ViewData["Title"] = "API Post Test";
}

<h1>API_Post</h1>

<h2>Sent</h2>
<div>_@ViewData["json"]_</div>

<h2>Response</h2>
<div>_@ViewData["responseBody"]_</div>

<h2>StatusCode</h2>
@{
    var code = (int)(ViewData["StatusCode"] ?? "-1");
}
<div>@ViewData["StatusCode"] (@code)</div>

<h2>ReasonPhrase</h2>
<div>@ViewData["ReasonPhrase"]</div>