@{
    var result = ViewData["Result"] as Result;
    if(result == null) return;
    var type = result.type;
    var info = result.info;
    if (type == Result.ResType.None) return;
    var id = type.ToString().ToLower() + "Partial";
}

<div id="@id">
@foreach (var (key, val) in info)
{
    var list = string.Join("\n", val.Select(msg => $"<li>{msg}</li>"));
    <p>@key</p>
    <ul>@Html.Raw(list)</ul>
}
</div>
