@page
@model IndexModel

@{
    ViewData["Title"] = "EnumGameRoster List";
}

<h1>EnumGameRoster List</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Origin</th>
            <th>IDX</th>
            <th>Identity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EnumGameRosterItems)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Origin</td>
                <td>@item.IDX</td>
                <td>@item.Identity</td>
            </tr>
        }
    </tbody>
</table>
