@page

@using asp_net_sql.Pages.CodeBehind
@using asp_net_sql.Common;

@model Game_CB

<script type="module">
    const get = id => document.getElementById(id);

    for (let i = 0; i < 9; i++) {
        const cell = get('cell_' + i);
        cell.addEventListener('click', () => {
            console.log(`cell_${i} clicked`);
        });
    }
</script>

<div class="main_container">
    <div class="header">1</div>
    <div class="left">
        @await Html.PartialAsync("_InfoPartial")
        <div id="APILog"></div>
    </div>
    <div class="middle">
        <div class="aspect game_container">
            <div class="cell center" id="cell_0">1</div>
            <div class="cell center" id="cell_1">2</div>
            <div class="cell center" id="cell_2">3</div>
            <div class="cell center" id="cell_3">4</div>
            <div class="cell center" id="cell_4">5</div>
            <div class="cell center" id="cell_5">6</div>
            <div class="cell center" id="cell_6">7</div>
            <div class="cell center" id="cell_7">8</div>
            <div class="cell center" id="cell_8">9</div>

            <div class="info center" id="info">info</div>

            <div class="vs center" id="vs">
                <button id="post">send post</button>
                <button id="websock">send websocket</button>
            </div>
        </div>
    </div>
    <div class="right">4</div>
    <div class="footer">5</div>
</div>

<script type="module">

    // promise wrapper for XMLHttpRequest
    import { makeRequest, webSocket } from '/js/network.js'

    const log = console.log;
    const err = console.error;
    const get = id => document.getElementById(id);

    const APILog = get('APILog');

    const url = '@ViewData["baseURI"]';

    const enmAPICmd = {
        @Html.Raw(APICmd.None.TypeToString())
    };

    const enmResType = {
        @Html.Raw(ResType.None.TypeToString())
    };

    const getEnumNameByVal =
        (enm, v) => Object.keys(enm).find(k => enm[k] == v);


    const APIPacket = (keyValuePairs, status, message, command) => ({
        keyValuePairs,
        status,
        message,
        command
    });

    const POST_API = (data, endpoint = '/API/Index') => {

        const jsonData = JSON.stringify(data);

        log(`Sent json: ${jsonData}`);

        makeRequest(url + endpoint, '', 'POST', 0, null, jsonData)
            .then(res => { 
                log(`Received:\nind: ${res.ind}\ndata: ${res.data}`);
                const packet = JSON.parse(res.data);
                packet.commandEnum = getEnumNameByVal(enmAPICmd, packet.command);
                packet.typeEnum = getEnumNameByVal(enmResType, packet.type);
                log(packet);
            })
            .catch(e => { err('Received error: ' + e) });
    };

    const SEND_WEBSOCK = (data) => {

        const jsonData = JSON.stringify(data);

        log(`Sent json: ${jsonData}`);

        websock.send(jsonData);
    };

    const btnPost = get('post');
    const btnWebsock = get('websock');

    const packet = APIPacket(
        {
            key1: 'value1',
            key2: 'value2'
        },
        'status',
        'message',
        enmAPICmd.Test
    );

    log('packet created:');
    log(packet);

    btnPost.addEventListener('click', () => { 
        POST_API(packet) 
    });

    // WINDOW ONLOAD
    const websock = webSocket('wss', 'localhost', '7170', 'ws');

    btnWebsock.addEventListener('click', () => {
        SEND_WEBSOCK(packet)
    });

</script>
